/* footer parts css */

.footer {
    width: 100%;
    height: 337px;
    background-color: #392A93;
    border-top: 1px solid #eaeaea;
    display: flex;

    flex-direction: row;
    margin-top: 100px;
}

.footer .taiwan {
    font-size: 12px;
    color: #9086CC;
}

.footer .iconTitle {
    font-size: 36px;
    color: #FEFEFE;
}

.footer .navBarIcon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;

}

.footerList li {
    margin-top: 10px;
}

.footerList {
    color: #FEFEFE;
    margin-top: 70px;
}

.logoContainer {
    width: 50%;
}

.footer .logoContainer {
    width: 50%;
}

.footer .listContainer {
    width: 50%;
    flex-direction: row;
    display: flex;
}

.wordArts {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    justify-content: center;
}