/* HotSpot part*/

.hotSpotGroup {
    margin: 0;
    width: 100%;
}

.title {
    font-family: Noto Sans TC;
    font-weight: 700;
    font-size: 26px;

    color: #392A93;
    margin: 2.78vw 0 2.78vw 8.333vw;
}


.hotSpotStackContainer {
    width: calc(100%-8.333vw);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2.778vw;
    margin-left: 8.333vw;

}

.hotSpotStackItem {
    display: flex;
    flex-direction: column;
    /* Neutrals/White */
    align-items: center;
    background: #FEFEFE;
    /* Neutrals/LIght grey */
    height: 20.83vw;
    width: 18.75vw;
    border: 1px solid #EAEAEA;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    overflow: hidden;

}

.ItemPhoto {
    border-radius: 20px 20px 0px 0px;
    height: 13.333vw;
    width: 19vw;
    display: block;
    overflow: hidden;
    margin-bottom: 1.38vw;
}

.spotTitle {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    text-align: center;

    /* Primary/Dark purple */
    color: #392A93;
    margin-bottom: 0.7vw;
    max-width: 80%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

}

.spotCity {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;

    /* Neutrals/Grey */

    color: #CFCFCF;
    margin-bottom: 20px;
    display: flex;

}






@media screen and (max-width:768px) {
    .hotSpotGroup {
        margin: 0;
    }

    .hotSpotStackContainer {
        width: 83.333vw;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 5.2vw;

    }

    .hotSpotStackItem {

        /* Neutrals/LIght grey */
        width: 39.0625vw;
        height: 34.50vw;
        border: 1px solid #EAEAEA;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
        border-radius: 20px;
        overflow: hidden;

    }

    .ItemPhoto {
        width: 39.0625vw;
        height: 21.875vw;
        display: block;
        overflow: hidden;
        margin-bottom: 2.8vw;
    }



    .title {
        margin: 1.2vw 0 5.2vw 15.9vw;

    }

    .spotTitle {
        text-align: center;
    }

}

@media screen and (max-width:640px) {
    .hotSpotGroup {
        margin: 0;
    }

    .hotSpotStackContainer {
        width: 84.27vw;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 5.067vw;

    }

    .hotSpotStackItem {

        /* Neutrals/LIght grey */
        width: 39.467vw;
        height: 56.2vw;
        border: 1px solid #EAEAEA;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
        border-radius: 20px;
        overflow: hidden;

    }

    .ItemPhoto {
        width: 43.5vw;
        height: 33.67vw;
        display: block;
        overflow: hidden;
        margin-bottom: 2.8vw;
    }



    .title {
        margin: 0vw 0 5.333vw 8vw;
        font-family: 'Noto Sans TC';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 29px;

    }

    .spotTitle {
        max-width: 85%;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
    }

    .spotCity {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
    }

    .spotTitle {
        text-align: center;
    }
}