.form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7.11vw;
}

.subscriptGruop {
    width: 83.3%;
    padding: 2.77vw 0 2.77vw 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #FA7E5F;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}

.title {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
    /* identical to box height */

    text-align: center;

    /* Primary/Dark purple */

    color: #392A93;
}

.subTitle {
    margin-bottom: 1.388vw;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    margin-top: 0.694vw;

    /* Neutrals/White */

    color: #FEFEFE;

}

.inputer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.inputer input {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    /* identical to box height */


    /* Primary/Light purple */

    color: #9086CC;


    /* Neutrals/White */

    background: #FEFEFE;
    /* Neutrals/LIght grey */

    border: 2px solid #EAEAEA;
    border-radius: 12px;
    margin-right: 1vw;
    padding: 0px 0px 0px 1.388vw;

    width: 27.77vw;
    height: 3.472vw;
    box-sizing: border-box;

}

.inputer button {
    height: 3.472vw;

    /* Primary/Dark purple */

    background: #392A93;
    border-radius: 12px;
    font-size: 20px;
    color: #FEFEFE;
    padding: 10px;
}

@media screen and (max-width:768px) {
    .subscriptGruop {
        width: 100%;
        border-radius: 0;
        padding: 5.19vw 0 5.19vw 0;
    }

    .form {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 16vw;
    }

    .subTitle {
        margin-bottom: 2.6vw;
        margin-top: 1.3vw;
    }


    .inputer {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .inputer input {

        width: 52.07vw;
        height: 6.51vw;


        border-radius: 12px;
        margin-right: 1.875vw;
        padding: 0px 0px 0px 2.6vw;
    }

    .inputer button {
        height: 6.51vw;


        padding: 14px 10PX 10PX 10PX
    }
}