.form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7.11vw;
}

.subscriptGruop {
    width: 83.3%;
    padding: 2.77vw 0 2.77vw 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fa7e5f;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}

.title {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
    /* identical to box height */

    text-align: center;

    /* Primary/Dark purple */

    color: #392a93;
}

.subTitle {
    margin-bottom: 1.388vw;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    margin-top: 0.694vw;

    /* Neutrals/White */

    color: #fefefe;
}

.inputer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.inputer input {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    /* identical to box height */

    /* Primary/Light purple */

    color: #9086cc;

    /* Neutrals/White */

    background: #fefefe;
    /* Neutrals/LIght grey */

    border: 2px solid #eaeaea;
    border-radius: 12px;
    margin-right: 1vw;
    padding: 0px 0px 0px 1.388vw;

    width: 27.77vw;
    height: 3.472vw;
    box-sizing: border-box;
}

.inputer button {
    height: 3.472vw;

    /* Primary/Dark purple */

    background: #392a93;
    border-radius: 12px;
    font-size: 20px;
    color: #fefefe;
    padding: 10px;
}

@media screen and (max-width: 768px) {
    .subscriptGruop {
        width: 100%;
        border-radius: 0;
        padding: 5.19vw 0 5.19vw 0;
    }

    .form {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 16vw;
    }

    .subTitle {
        margin-bottom: 2.6vw;
        margin-top: 1.3vw;
    }

    .inputer {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .inputer input {
        width: 52.07vw;
        height: 6.51vw;

        border-radius: 12px;
        margin-right: 1.875vw;
        padding: 0px 0px 0px 2.6vw;
    }

    .inputer button {
        height: 6.51vw;

        padding: 14px 10px 10px 10px;
    }
}

@media screen and (max-width: 640px) {
    .subscriptGruop {
        width: 100%;
        border-radius: 0;
        padding: 13.333vw 0 13.333vw 0;
    }

    .title {
        font-weight: 700;
        font-size: 22px;
        line-height: 32px;
        text-align: center;
    }

    .form {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 21.866vw;
    }

    .subTitle {
        font-family: 'Noto Sans TC';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        margin-bottom: 3.2vw;
        margin-top: 1.6vw;
    }

    .inputer {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .inputer input {
        width: 84vw;
        height: 10.666vw;

        border-radius: 12px;
        margin-right: 0px;
        padding: 1.866vw 0 1.8666vw 5.333vw;
        font-family: 'Noto Sans TC';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
    }

    .inputer button {
        width: 39.466vw;
        height: 10.667vw;
        padding: 2.266vw 0;
        margin-top: 3.7333vw;
        font-family: 'Noto Sans TC';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 23px;
    }
}
