.form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.subscriptGruop {
    width: 85%;
    padding: 40px 0 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #FA7E5F;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}

.subTitle {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 23px;
    text-align: center;

    /* Neutrals/White */

    color: #FEFEFE;

}

.inputer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.inputer input {
    width: 400px;
    height: 50px;

    /* Neutrals/White */

    background: #FEFEFE;
    /* Neutrals/LIght grey */

    border: 2px solid #EAEAEA;
    border-radius: 12px;
    margin-right: 14px;

}

.inputer button {
    width: 60px;
    height: 50px;

    /* Primary/Dark purple */

    background: #392A93;
    border-radius: 12px;
    font-size: 20px;
    color: #FEFEFE;
    padding: 10px;
}