/* HotSpot part*/

.hotSpotGroup {

    width: 83.33%;
    height: 29.51vw;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6.35vw;

}

.title {
    font-family: Noto Sans TC;
    font-weight: 700;
    font-size: 26px;

    color: #392A93;
    margin: 0.694vw 0.694vw 0.972vw 0.694vw;
}

.hotSpotBtnContainer {
    display: flex;
    align-self: flex-end;
    gap: 0.9vw;
    margin: 0 1px 1.388vw 0;

}

.hotSpotBtnPre,
.hotSpotBtnNex {
    width: 3.055vw;
    height: 3.055vw;
    background-color: #FA7E5F;
    padding: 0;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.hotSpotBtnPre:hover,
.hotSpotBtnPre:focus {
    background-color: #FA7E;

}

.hotSpotBtnNex:hover,
.hotSpotBtnNex:focus {
    background-color: #FA7E;
}

.hotSpotBtnPre svg,
.hotSpotBtnNex svg {
    width: 0.833vw;
    height: 0.833vw;

}

.hotSpotBtnPre svg {
    transform: rotate(-180deg);
}

.hotSpotStackContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 2.6vw;
    justify-items: center;
}

.hotSpotStackItem {
    display: flex;
    flex-direction: column;
    /* Neutrals/White */
    align-items: center;
    background: #FEFEFE;
    /* Neutrals/LIght grey */
    height: 21.2vw;
    width: 18.75vw;
    border: 1px solid #EAEAEA;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
    border-radius: 30px;
    overflow: hidden;
}

.ItemPhoto {
    border-radius: 1.388vw 1.388vw 0px 0px;
    margin-bottom: 1.388vw;
    width: 22.22vw;
    height: 16.04vw;
    display: block;
    overflow: hidden;
    object-fit: ;
}

.spotTitle {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    text-align: center;

    /* Primary/Dark purple */

    color: #392A93;
    margin-bottom: 0.8vw;
    max-width: 80%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.spotCity {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;

    /* Neutrals/Grey */

    color: #CFCFCF;

    margin-bottom: 1.388vw;

}

@media screen and (max-width:768px) {
    .hotSpotGroup {

        width: 83.33%;
        height: 51.66vw;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        margin-bottom: 8.333vw;

    }

    .title {
        font-family: Noto Sans TC;
        font-weight: 700;
        font-size: 26px;

        color: #392A93;
        margin: 0.694vw 0.694vw 0px 0.694vw;
    }

    .hotSpotStackContainer {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 2.777vw;
        justify-items: center;
    }

    .hotSpotStackItem {
        display: flex;
        flex-direction: column;
        /* Neutrals/White */
        align-items: center;
        background: #FEFEFE;
        /* Neutrals/LIght grey */
        height: 20.83vw;
        width: 20.83vw;
        border: 1px solid #EAEAEA;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
        border-radius: 30px;
        overflow: hidden;

    }

    .ItemPhoto {
        border-radius: 1.38vw 1.38vw 0px 1.38vw;
        margin-bottom: 1.38vw;
        width: 22.222vw;
        height: 15.277vw;
        display: block;
        overflow: hidden;
    }
}