/* HotSpot part*/

.hotSpotGroup {

    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 90px;
    margin-left: 0rem;
    margin: 3rem 0 12rem 6rem
}

.title {
    font-family: Noto Sans TC;
    font-weight: 700;
    font-size: 26px;

    color: #392A93;
    margin: 10px;
}


.hotSpotStackContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 40px;
}

.hotSpotStackItem {
    display: flex;
    flex-direction: column;
    /* Neutrals/White */
    align-items: center;
    background: #FEFEFE;
    /* Neutrals/LIght grey */
    height: 300px;
    width: 270px;
    border: 1px solid #EAEAEA;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
    border-radius: 30px;
    overflow: hidden;

}

.ItemPhoto {
    border-radius: 20px 20px 0px 0px;
    margin-bottom: 20px;
    width: 305px;
    height: 213px;
    display: block;
    overflow: hidden;
}

.spotTitle {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    text-align: center;

    /* Primary/Dark purple */

    color: #392A93;
    margin-bottom: 10px;
    max-width: 80%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

}

.spotCity {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;

    /* Neutrals/Grey */

    color: #CFCFCF;
    margin-bottom: 20px;
    display: flex;

}

.signpost {
    display: flex;
    margin: 4rem 0 4rem 0rem;
}

.signpost div {
    padding: 0 16px 0 0;
}

.signpost,
.spotorfood,
.cityorkind {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;

    /* Complementary/Baby blue */

    color: #A9D3FF;

}

.morethan svg {
    width: 1vw;
    height: 0.7vw;

}




@media screen and (max-width:768px) {
    .hotSpotGroup {
        margin: 0;

    }

    .hotSpotStackContainer {
        width: 83.333vw;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 5.2vw;
        margin-left: 8.07vw;

    }

    .hotSpotStackItem {

        /* Neutrals/LIght grey */
        width: 39.0625vw;
        height: 34.50vw;
        border: 1px solid #EAEAEA;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
        border-radius: 20px;
        overflow: hidden;

    }

    .ItemPhoto {
        width: 39.0625vw;
        height: 21.875vw;
        display: block;
        overflow: hidden;
        margin-bottom: 2.8vw;
    }

    .signpost {
        display: flex;
        margin: 5.5vw 0 6.1vw 15.9vw;
    }

    .signpost div {
        padding: 0 2.08vw 0 0;
    }

    .morethan svg {
        width: 1.823vw;
        height: 1.3vw;

    }

    .title {
        margin: 0 0 5.2vw 15.9vw;

    }
}

@media screen and (max-width:640px) {
    .hotSpotGroup {
        margin: 0;
    }

    .hotSpotStackContainer {
        width: 84.27vw;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 5.067vw;

    }

    .hotSpotStackItem {

        /* Neutrals/LIght grey */
        width: 39.467vw;
        height: 56.2vw;
        border: 1px solid #EAEAEA;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
        border-radius: 20px;
        overflow: hidden;

    }

    .ItemPhoto {
        width: 43.5vw;
        height: 33.67vw;
        display: block;
        overflow: hidden;
        margin-bottom: 2.8vw;
    }

    .signpost {
        display: flex;
        margin: 7.2vw 0 5.333vw 8vw;

    }

    .signpost div {
        padding: 0 3.2vw 0 0;
        font-family: 'Noto Sans TC';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
    }

    .morethan svg {
        width: 3.733vw;
        height: 2.66vw;

    }

    .title {
        margin: 0vw 0 5.333vw 8vw;
        font-family: 'Noto Sans TC';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 29px;

    }

    .spotTitle {
        max-width: 85%;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
    }

    .spotCity {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
    }
}