/* navBar part css */

.navBar {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #392A93;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}

.navBarIcon {
    display: flex;
    flex-direction: row;
    width: 110px;
    padding: 30px 40px 30px 50px;
    height: 100%;
}

.wordArts {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    justify-content: center;
}

.taiwan {
    font-size: 9px;
    color: #9086CC;
}

.iconTitle {
    font-size: 20px;
}



.title {
    font-family: Noto Sans TC;
    font-weight: 700;
    font-size: 26px;

    color: #392A93;
    margin: 10px;
}

/* Icon part */

.routeBtn {
    display: flex;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    width: 153px;
    justify-content: center;
    align-items: center;
    margin-right: 22px;
    height: 100px;
}

.routeBtnContent {
    width: 100%;
    height: 100%
}


/* view height fixed */
.viewHight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;

}








/* common use part */

.title {
    font-family: Noto Sans TC;
    font-weight: 700;
    font-size: 26px;

    color: #392A93;
    margin: 10px;
}