/* navBar part css */

.navBar {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #392A93;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}

.navBarIcon {
    display: flex;
    flex-direction: row;
    width: 160px;
    padding-left: 50px;
}

.wordArts {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    justify-content: center;
}

.taiwan {
    font-size: 9px;
    color: #9086CC;
}

.iconTitle {
    font-size: 20px;
}

/* .serachGroup {
    width: 316px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.serachInput {
    width: 270px;
    border-radius: 16px;
    border: 1px solid #9086CC;
    text-align: start;
    padding: 10px;

}

.serachBtn {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.switchLingtGroup {
    display: flex;
    align-items: center;
}

.switchBtn {
    margin: 0 10px 0 10px;
}

.lanChangeGroup {
    display: flex;
    align-items: center;
}

.lanTitle {
    margin: 0 0 0 10px
} */

/* common use part */

.title {
    font-family: Noto Sans TC;
    font-weight: 700;
    font-size: 26px;

    color: #392A93;
    margin: 10px;
}

/* Icon part */

.routeBtn {
    display: flex;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    width: 150px;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}



/* view height fixed */
.viewHight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;

}








/* common use part */

.title {
    font-family: Noto Sans TC;
    font-weight: 700;
    font-size: 26px;

    color: #392A93;
    margin: 10px;
}