/* stackGruop parts */

.stackGruop {
    width: 85%;
    height: 34.722vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6.388vw;
}

.stackBtnContainer {
    width: 65.277vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.778vw;
    height: 4.861vw;
    margin-left: 1.597vw;

}

.stackBtn {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-right: 4.166vw;
}

.stackBtn label {
    padding: 0.694vw 0.694vw 1.1111vw 0.694vw;
    font-size: 2.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #A9D3FF;
}



.stackBtn input {
    appearance: none;
    background-color: inherit;
    height: 0.347vw;
    width: 50%;
    box-sizing: border-box;
}

.stackBtn input:checked {
    background-color: #392A93;
}

.stackBtn input:checked~label {
    color: #392A93;

}




.stackContainer {
    width: 65.277vw;
    height: 27.083vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 2.1vw;
    gap: 2.083vw;
    justify-content: center;
    align-items: center;
    margin: 0.39vw 2.083vw 0px;
}

.stackSlide {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 90%;
    justify-content: space-between;
}

.stackPre {
    transform: rotate(180deg);
}

.stackNex,
.stackPre {
    display: flex;
    width: 10%;
    align-items: center;
    justify-content: center;
}

.stackPre svg,
.stackNex svg {
    width: 1.527vw;
    height: 1.09vw;

}

.stackPre svg {
    padding-top: 0.4166vw;
}

.stackNex {

    padding-bottom: 0.4166vw;
}


.stackItems {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3rem;

    background: gray;
    background-position: center;
    align-self: auto;
    /*背景圖片水平位置與垂直位置均置中對齊*/
    width: 20.347vw;
    height: 12.5vw;
    overflow: hidden;


}

.stackItemsPhoto {
    border-radius: 3rem;

    width: 100%;
    height: 100%;
    display: block;
}

@media screen and (max-width:768px) {
    .stackGruop {
        width: 100%;
        height: 52.3611vw;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-bottom: 8.33vw;
    }

    .stackBtnContainer {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 4.166vw;
        height: 5.138vw;
    }

    .stackContainer {
        width: 83.33%;
        height: 43.055vw;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 2.77vw;
    }

    .stackSlide {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 43.055vw;

    }


    .stackNex,
    .stackPre {
        display: flex;
        width: 10%;
        height: 43.055vw;
        align-items: center;
        justify-content: center;
    }

}