/* stackGruop parts */

.stackGruop {
    width: 85%;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 90px;
}

.stackBtnContainer {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 36px;
    height: 70px;
}

.stackBtn {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.stackBtn label {
    padding: 10px 10px 16px 10px;
    font-size: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #A9D3FF;
}



.stackBtn input {
    appearance: none;
    background-color: inherit;
    height: 5px;
    width: 50%;
    box-sizing: border-box;
}

.stackBtn input:checked {
    background-color: #392A93;
}

.stackBtn input:checked~label {
    color: #392A93;

}




.stackContainer {
    width: 940px;
    height: 390px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.stackSlide {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 90%;
    justify-content: center;
}

.stackPre {
    transform: rotate(180deg);
}

.stackNex,
.stackPre {
    display: flex;
    width: 10%;
    align-items: center;
    justify-content: center;
}

.stackPre svg,
.stackNex svg {
    width: 22px;
}

.stackItems {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    border: 1px solid #392A93;
    background-position: center;
    align-self: auto;
    /*背景圖片水平位置與垂直位置均置中對齊*/
    width: 293px;
    height: 180px;
    overflow: hidden;


}

.stackItemsPhoto {
    position: absolute;
    width: 20.3vw;
    height: 18vh;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    z-index: -1;
    border-radius: 30px;
}

.foodType {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
    /* identical to box height */

    text-align: center;

    /* Neutrals/White */

    color: #FEFEFE;
    text-align: center;
    position: relative;
    z-index: 0;

}

@media screen and (max-width:768px) {
    .stackGruop {
        width: 100%;
        height: 754px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-bottom: 120px;
    }

    .stackBtnContainer {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 60px;
        height: 74px;
    }

    .stackContainer {
        width: 83.33%;
        height: 620px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 40px;
    }

    .stackSlide {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 620px;

    }


    .stackNex,
    .stackPre {
        display: flex;
        width: 10%;
        height: 620px;
        align-items: center;
        justify-content: center;
    }

}