/* footer parts css */

.footer {
    width: 100%;
    height: 23.4vw;
    background-color: #392A93;
    border-top: 1px solid #eaeaea;
    display: flex;

    flex-direction: row;
    margin-top: 6.9444vw;
}

.footer .taiwan {
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 600;

    font-size: 16px;
    color: #9086CC;
    margin-bottom: 0.8vw;
    margin-left: 1vw;
}

.footer .iconTitle {
    font-size: 36px;
    color: #FEFEFE;
    margin-left: 0.96vw;
}

.footer .navBarIcon {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logoContainer {
    margin: 6.875vw 27.2vw 0 19.652vw;
    width: 10.3vw;
    height: 6.8vw;
}

.footerList li {
    margin-bottom: 10px;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.12em;
}

.footerList {
    color: #FEFEFE;
    margin: 5.5vw 5.1vw 0px 0px;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.12rem;
}

.footerList ul {
    list-style: none;
    margin: 0;
    padding: 0;

}


.footer .listContainer {

    flex-direction: row;
    display: flex;
}

.wordArts {
    display: flex;
    flex-direction: column;
    margin-left: 0.694vw;
    justify-content: center;
}




@media screen and (max-width:768px) {
    .footer {
        display: flex;
        flex-direction: column;
        margin-top: 10.4vw;
        width: 100%;
        height: 69.66vw;
        justify-content: flex-start;
        align-items: center;
    }

    .logoContainer {
        width: 100%;
        margin: 0;
        width: 19.14vw;
        height: 12.76vw;
        margin-top: 10.4vw;
    }

    .footer .navBarIcon {
        display: flex;
        flex-direction: row;
        justify-content: center;


    }

    .wordArts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 0px;
    }

    .footer .taiwan {
        font-size: 16px;
        color: #9086CC;
        margin-bottom: 1vw;
        margin-left: 2.8vw;

    }

    .footer .iconTitle {
        font-size: 36px;
        color: #FEFEFE;
        margin-left: 3.02vw;

    }

    .footer .listContainer {
        width: 82%;
        flex-direction: row;
        display: flex;
        margin-top: 11.72vw;
        margin-right: 3vw;
        justify-content: center;
    }

    .footerList {
        color: #FEFEFE;
        margin: 0px 38px;

    }

    .footerList li {
        margin-bottom: 1.3vw;
        margin: 0 0 1.3vw 0;
    }

    .listContainer ul {
        margin-top: 1.3vw;
        padding-inline-start: 0px;
        font-family: 'Noto Sans TC';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 23px;
        letter-spacing: 0.12em;
    }
}