/* Goodfoods part */
.hotFoodGroup {
    width: 85%;
    height: 500px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    margin-bottom: 90px;
}

.stackFoodContainer {
    margin-top: 40px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
}

.foodStackItem {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    border: 1px solid #392A93;
    background-image: url("https://via.placeholder.com/380X240");
    background-position: center;

}

.foodType {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
    /* identical to box height */

    text-align: center;

    /* Neutrals/White */

    color: #FEFEFE;

}