/* Goodfoods part */
.hotFoodGroup {
    width: 85%;
    height: 41.66vw;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6.25vw;
}

.stackFoodContainer {
    height: 35.416vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2.083vw;
    justify-items: center;
}

.foodStackItem {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background-position: center;
    background-color: blanchedalmond;
    width: 26.38vw;
    height: 16.66vw;

}

.foodType {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
    /* identical to box height */

    text-align: center;

    /* Neutrals/White */

    color: #FEFEFE;

}

.title {
    font-family: Noto Sans TC;
    font-weight: 700;
    font-size: 26px;

    color: #392A93;
    margin: 0.694vw 0.694vw 3vw 0.694vw;
}

@media screen and (max-width:768px) {
    .hotFoodGroup {
        width: 83.33%;
        height: 50vw;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0px;
    }

    .title {
        margin: 0.694vw 0.694vw 4.027vw 0.694vw;

    }

    .stackFoodContainer {
        width: 100%;
        height: 43.055vw;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 2.77vw;
        justify-items: center;
    }
}